.app-winver>.header {
  height: 77px;

  background-image: url($WINVER_IMAGE$);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: bottom;
}

.app-winver>.body:after {
  content: "Windows 10 theme by Kelbaz."
}