.w96-checkbox>input[type=checkbox],
input[type=checkbox],
.w96-radiobox>.option>input[type=radio],
input[type=ratio] {
  box-shadow: none;
  border: 1px solid #333333;
}

.w96-checkbox>input[type=checkbox]:checked,
input[type=checkbox]:checked {
  background-image: url($CHECKBOX$);
}