.user-taskbar {
  padding: 0;

  backdrop-filter: blur(10px);
  background-color: #1a1a1abf;
  background-image: var(--uwp-noise);
  border: none;
  box-shadow: none;
  align-items: center;

  min-height: 40px;
}

.taskbar-tasks {
  padding: 0;
  gap: 1px;
}

.taskbar-notify {
  border: none;
  color: white;
  margin-top: 0;
}

.taskbar-notify .notify-time {
  font-family: "Segoe UI";
}

.user-taskbar .separator {
  display: none;
}