@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--grey);
    font-family: "Lexend", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --grey: #3a3f3f;
    --green: #52FF78;
}

#main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 50px;
}

#scroll-link {
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 100px;
    background: var(--green);

    position: absolute;
    left: 50%;
    bottom: 50px;

    transform: translateX(-50%);
}