@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--grey);
    font-family: "Lexend", sans-serif;
}

:root {
    --grey: #3a3f3f;
}

#main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 50px;
}

